.button {
  display: flex;
  font-family: Oswald, Arial, sans-serif;

  &__contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 210px;
    height: 68px;
    background: #e3e0dd;
    border: 0;
    border-radius: 36px;
    outline: none;
    color: rgba(74, 201, 243, 1);
    font-size: 21px;
    line-height: 36px;
    font-weight: 900;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
      color: rgb(40, 233, 40);
      box-shadow: 2px 4px 12px #0f0f0f;
    }
  }

  &__try {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    width: 190px;
    height: 68px;
    background: #2e2b32;
    border: 0;
    border-radius: 36px;
    outline: none;
    color: rgba(246, 245, 241, 1);
    font-size: 21px;
    line-height: 36px;
    font-weight: 900;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
      color: rgb(40, 233, 40);
      box-shadow: 2px 4px 22px #071381;
    }
  }

  &__symbol {
    font-size: 26px;
    font-weight: 900;
  }
}
