.wifi {
  display: flex;
  align-items: center;
  text-align: center;

  background: linear-gradient(281.7deg,
  #302c34 11.23%,
  #59555d 42.92%,
  #4a474f 52.23%,
  #232224 94.08%);
  border-radius: 4px;
  color: white;

  &__row {
    display: flex;
  }

  &__info {
    padding-left: 150px;
  }

  &__num {
    margin-right: 20px;

    font-family: Oswald, Arial, sans-serif;
    color: rgba(85, 202, 232, 1);
    font-size: 30px;
    line-height: 48px;
    font-weight: bold;
  }

  &__item {
    width: 283px;
    text-align: left;

    font-family: Poppins, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 26px;
    line-height: 39px;
  }
}
